* {
    padding: 0;
    margin: 0;
    margin: auto;
}

.helal {
    width: 1200px;
    height: 500px;     
    margin: auto;
   
}

.dhaka {
    width: auto;
    height: 250px;   
    margin-left: -3.33%;
     
}
.son{
    width: 30%;
    height: auto;  
    float: left;
    margin-left: 3.33%;
}
img{
    max-width: 100%;
    margin: auto;
}
 .helal{
    width: 1200px;
    height:300px;
    
 }
 
    

.helal-1 ul{
list-style: none;
 

}
.helal-1 ul li{
float: left;
background:olivedrab
 
}
.helal-1 ul li a{
    display: block;
    padding: 25px;
    text-decoration: none;
    font-size:30px;
}
.helal-1 ul li a:hover{
    background: red;
     
}

.computer ul{
    list-style: none;
    float:left;
}
.computer ul{
    width: 1200px;
    height:100px;
    
}
.computer ul li{
    float: left;
    background:black;
}
.computer ul li a{
    display: block;
    padding: 25px;
    text-decoration: none;
    font-size:30px;
    color:green;
}
.computer ul li a:hover{
    background:white;
}
h3{
    font-size:60px;
      
     height:135px;
    color: white;
    background: black;
    margin:auto;

}
h1{
    background:red;
     
    height:50px;
    margin: auto;
}
h2{
     
    height:350px;
    background:slategray;
    color:white;
}
.ami{
    width:1200px;
    height:455px;
    background:paleturquoise;

}
.oppo{
    height:600px;
    width:auto;
     background:black;
}
h5{
    color:white;
    font-size:20px;
}



